@import './color.scss';

body {
  background-color: $subprimary;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main__area {
  height: 100vh;
  width: 100%;
  border: solid blue;
  overflow-y: auto;
}
